
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css" rel="stylesheet" media="all">
@media only screen and (max-width: 600px) {
  .email-body_inner,
      .email-footer {
    width: 100% !important;
  }
}


@media only screen and (max-width: 500px) {
  .button {
    width: 100% !important;
  }
}
</style>
</head>
<body dir="ltr" style="width: 100%; height: 100%; margin: 0; line-height: 1.4; background-color: #E4E4E4; color: #74787E; -webkit-text-size-adjust: none; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 0; background-color: #E4E4E4;" bgcolor="#E4E4E4">
  <tr>
    <td align="center" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">
      <table class="email-content" width="100%" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 0;">
        <!-- Logo -->
          <tr>
              <td class="email-header" width="100%" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 0; background-color: #E4E4E4;" bgcolor="#E4E4E4">
                  <table class="email-header-full_inner" align="center" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 800px; margin: 0 auto; padding: 0; background-color: #FFF;" width="800" bgcolor="#FFF">
                      <tr>
                          <td class="email-header-full_full" align="center" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 800px; margin: 0 auto; padding: 15px; background-color: #ff5855;" width="800" bgcolor="#ff5855">
                              <a class="email-masthead_name" href="https://dxpress.cl/" target="_blank" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; color: #FFF; font-size: 16px; font-weight: bold; text-decoration: none; text-shadow: 0 1px 0 white;">

                                  <img src="https://storage.googleapis.com/dxpress/email-logo.png" class="email-logo" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; max-height: 50px;">

                              </a>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>

          <tr>
              <td class="email-image-full" width="100%" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 0; background-color: #E4E4E4;" bgcolor="#E4E4E4">
                  <table class="email-image-full_inner" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 800px; margin: 0 auto; padding: 0; height: 400px; background: url('https://storage.googleapis.com/dxpress/image-seal-pizza.png') no-repeat center;" width="800" height="400">
                      <tr>
                          <td class="email-image-full_full" align="center" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center;">

                                                            <p class="email-middle-text-0" style="margin-top: 0; line-height: 1.5em; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 26px; margin: 0; color: #9EDA2B;">{{ coupon }}</p>
                                                            <p class="email-middle-text-1" style="margin-top: 0; line-height: 1.5em; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 15px; margin: 0 auto; width: 230px; color: #FF7B78;">{{ description }}</p>

                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
        <!-- Email Body -->
        <tr>
          <td class="email-body" width="100%" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 0; background-color: #E4E4E4;" bgcolor="#E4E4E4">
            <table class="email-body_inner" align="center" width="800" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 800px; margin: 0 auto; padding: 0; background-color: #FFF;" bgcolor="#FFF">
              <!-- Body content -->
              <tr>
                <td id="content-cell" class="content-cell" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px 0 20px 0; text-align: center;" align="center">

                                    <p class="intro-item-text-0" style="margin-top: 0; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 20px; margin: 0; padding: 0; line-height: 4em; color: #333;">LA NUEVA FORMA DE PEDIR COMIDA</p>
                                    <p class="intro-item-text-1" style="margin-top: 0; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0; line-height: 2.1em; color: #666;">Somos <b style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">Dxpress</b> y llevamos al comida a la puerta de tu casa <b style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">informándote</b> en cada</p>
                                    <p class="intro-item-text-2" style="margin-top: 0; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0; line-height: 2.1em; color: #666;">momento en qué proceso se encuentra tu pedido, para que de esta forma puedas saber</p>
                                    <p class="intro-item-text-3" style="margin-top: 0; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0; line-height: 2.1em; color: #666;">incluso, <b style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">donde viene tu comida</b></p>

                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
            <td class="email-body-next" width="100%" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 0; background-color: #E4E4E4;" bgcolor="#E4E4E4">
            <table class="email-body-next_inner" align="center" width="800" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 800px; margin: 0 auto; padding: 0; background-color: #FFF;" bgcolor="#FFF">
                <tr>
                    <td style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">
                        <hr class="spacing" width="70%" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; border: 0; width: 70%; color: #cacaca; background-color: #cacaca; height: 1px;">
                    </td>
                </tr>
            </table>
            </td>
        </tr>
        <tr>
          <td class="email-image-footer" width="100%" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; background-color: #E4E4E4; text-align: center;" bgcolor="#E4E4E4" align="center">
            <table class="email-image-footer_inner" align="center" width="800" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 800px; margin: 0 auto; padding: 0;">
              <tr>
                <td class="email-image-footer_full" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #FFF; text-align: center;" bgcolor="#FFF" align="center">

                                        <p class="email-footer-text-0" style="line-height: 1.5em; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: 20px; font-size: 15px; color: #888;">SEGUIMIENTO DE TU REPARTIDOR - INFORMACIÓN DE CADA PROCESO</p>
                                        <p class="email-footer-text-1" style="margin-top: 0; line-height: 1.5em; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 15px; margin-bottom: 12px; color: #888;">VARIEDAD DE RESTAURANTES - SISTEMA SEGURO</p>
                                        <p class="email-footer-text-2" style="margin-top: 0; line-height: 1.5em; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 13px; color: #aaaaaa; margin-bottom: 32px;">Son algunas de las cosas que te podemos ofrecer</p>

               </td>
              </tr>
            </table>
          </td>
        </tr>
          <tr><td class="email-image-footer-next" width="90%" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">
              <table class="email-image-footer-next_inner" align="center" width="800" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">
                  <tr>
                      <td class="email-image-footer-next_full" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">
                          <p style="margin-top: 0; line-height: 1.5em; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 90%; margin: 8px 0 0 0; font-size: 13px; background-color: #E4E4E4; color: #aaaaaa;">Para desuscribirte enía un correo a <b style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">newsletter@dxpress.cl</b> con asunto "Desuscripción"</p>
                      </td>
                  </tr>
              </table>
          </td></tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>