
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css" rel="stylesheet" media="all">
@media only screen and (max-width: 600px) {
  .email-body_inner,
            .email-footer {
    width: 100% !important;
  }
}


@media only screen and (max-width: 500px) {
  .button {
    width: 100% !important;
  }
}
</style>
</head>
<body dir="ltr" style="width: 100%; height: 100%; margin: 0; line-height: 1.4; background-color: #F2F4F6; color: #74787E; -webkit-text-size-adjust: none; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 0; background-color: #FFF;" bgcolor="#FFF">
    <tr>
        <td align="center" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">
            <table class="email-content" width="100%" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 0;">
                <!-- Logo -->
                <tr>
                    <td class="email-masthead" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; background-color: #f3f3f3;" align="center" bgcolor="#f3f3f3">
                        <table class="email-header-full" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 570px; margin: 0 auto; padding: 0; height: 90px; background-color: #fff;" width="570" height="90" bgcolor="#fff">
                            <tr>
                                <td style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">
                                    <a class="email-masthead_name" href="https://dxpress.cl/" target="_blank" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; color: #FFF; font-size: 16px; font-weight: bold; text-decoration: none; text-shadow: 0 1px 0 white;">

                                        <img src="https://storage.googleapis.com/dxpress/email-color-logo.png" class="email-logo" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; max-height: 50px;">

                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="email-image-full" width="100%" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 0; background-color: #f3f3f3;" bgcolor="#f3f3f3">
                        <table class="email-image-full_inner" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 570px; margin: 0 auto; padding: 0; height: 250px; background: url('https://storage.googleapis.com/dxpress/email-background-large-people.png'); color: #FFF;" width="570" height="250">
                            <tr>
                                <td class="email-image-full_full" align="center" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center;">

                                                                        <span class="email-middle-text-0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 18px;">Hola {{ nombre }} {{ apellido }}</span><br>
                                                                        <span class="email-middle-text-1" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 33px; margin-bottom: 12px;">¡Descúbrenos!</span><br>
                                                                        <span class="email-middle-text-2" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 21px;">La forma inteligente de pedir comida</span><br>

                                    <br>
                                    <a href="https://dxpress.cl" class="button" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; mso-hide: all; color: #ffffff; -webkit-text-size-adjust: none; text-decoration: none; width: 200px; border-radius: 3px; line-height: 45px; text-align: center; font-size: 12px; border: 1px solid #FFF; background-color: none;" target="_blank">¡NO MÁS ESPERAS! CLIC AQUÍ</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="email-middle-image" width="100%" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 0; background-color: #f3f3f3;" bgcolor="#f3f3f3">
                        <table class="email-middle-image_inner" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 570px; margin: 0 auto; padding: 0;" width="570">
                            <tr>
                                <td class="email-middle_text" align="center" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #FF5855; text-align: center; color: white; padding: 15px 0;" bgcolor="#FF5855">
                                    <span style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">¡SEGUIMIENTO EN TIEMPO REAL!</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="email-middle_image" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">
                                    <img src="https://storage.googleapis.com/dxpress/email-map.png" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="email-image" width="100%" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 0; background-color: #f3f3f3;" bgcolor="#f3f3f3">
                        <table class="email-image_inner" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 570px; margin: 0 auto; padding: 0; height: 280px; background: url('https://storage.googleapis.com/dxpress/email-commerces.png');" width="570" height="280">
                            <tr>
                                <td class="email-image_full" valign="top" align="center" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; vertical-align: top;">
                                    <br>
                                    <span style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">GRAN VARIEDAD DE RESTAURANTES</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Email Body -->
                <tr>
                    <td class="email-body" width="100%" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 0; background-color: #f3f3f3;" bgcolor="#f3f3f3">
                        <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 570px; margin: 0 auto; padding: 0; background-color: #5f0056;" bgcolor="#5f0056">
                            <!-- Body content -->
                            <tr>
                                <td id="content-cell" class="content-cell" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px 0 20px 0; text-align: center;" align="center">






                                    <!-- Dictionary -->




                                    <!-- Table -->


                                    <!-- Action -->


                                    <!-- Support for Gmail Go-To Actions -->

                                    <script type="application/ld+json">
                      {
                        "@context": "http://schema.org",
                        "@type": "EmailMessage",
                        "potentialAction": {
                          "@type": "ViewAction",
                          "url": "https://dxpress.cl",
                          "target": "https://dxpress.cl",
                          "name": "Haga click para descubrir la forma inteligente de pedir comida."
                        },
                        "description": ""
                      }
                      </script>





                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="email-image-footer" width="100%" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; background-color: #f3f3f3; text-align: center;" bgcolor="#f3f3f3" align="center">
                        <table class="email-image-footer_inner" align="center" width="570" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; width: 570px; margin: 0 auto; padding: 0;">
                            <tr>
                                <td class="email-image-footer_full" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; background-color: #5f0056;" align="center" bgcolor="#5f0056">
                                    <img src="https://storage.googleapis.com/dxpress/email-large-footer.png" usemap="#imgmap2016751966" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">
                                </td>
                            </tr>
                            <tr>
                                <td class="email-image-footer_text" align="center" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; background-color: #5f0056; color: #FFF; font-size: 12px;" bgcolor="#5f0056">
                                    <br>
                                    Para desuscribirse de esta lista, envía un correo a <a href="mailto:newsletter@dxpress.cl" target="_top" style="color: #FFF; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;">newsletter@dxpress.cl</a> con tu solicitud.
                                    <br>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<map id="imgmap2016751966" name="imgmap2016751966" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;"><area shape="rect" alt="App Sotre" title="" coords="12,144,107,174" href="https://itunes.apple.com/us/app/dxpress-delivery/id1114638857" target="_blank" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;"><area shape="rect" alt="Play Store" title="" coords="118,142,213,176" href="https://play.google.com/store/apps/details?id=com.dxpress.client" target="_blank" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;"></map></body>
</html>